*.classpath

.settings/

gwt/

*.gwt
*.project
gwt-unitCache/*
README.md

src/log4j.properties
war/WEB-INF/deploy/
war/WEB-INF/classes/
war/WEB-INF/appengine-generated/
war/WEB-INF/logging.properties